---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

DerivePointerAlignment: false
AlignAfterOpenBracket: BlockIndent

BinPackArguments: false
BinPackParameters: false

AlignArrayOfStructures: Right
